html{
    font-size: 40px
}

body{
    margin: 0;
    background-image: url(https://wallpaperaccess.com/full/1883028.jpg);
    background-size: contain;
    background-position: center;
}

article{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*barra di navigazione*/

nav{
    background-color: black ;
    border-radius: 60px;
    width: 90vw;
    display: flex;
    margin: auto;
    margin-top: 15px;
    font-size: 0.5rem;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
    border: black;
  
}

nav a{
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

@media(max-width: 550px){
    nav a{
      font-size: 0.4rem;
    }
  }
  
nav a:hover{
      text-decoration: underline; 
      cursor: pointer; 
  }

/*header*/

  header{
    margin-top: 20px;
    height: 65vh;
    background-image: url(https://images.alphacoders.com/686/686704.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 60px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

@media(max-width: 1050px){
    header{
      height: 30vh;
      margin-top: 15px;
    }
  }

  @media(max-width: 550px){
    header{
      height: 25vh;
      margin-top: 15px;
    }
  }

.titolo{
    font-weight: bold;
    font-family: 'Cormorant Unicase', serif;;
    font-size: 2rem;
    color: #e6caaf;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    z-index: 1;
}

@media(max-width: 1050px){
  .titolo{
    font-size: 1.4rem;
  }
}
@media(max-width: 850px){
  .titolo{
    font-size: 1rem;
  }
}

@media(max-width: 550px){
  .titolo{
    font-size: 0.7rem;
  }
}
  
#overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%; 
    border-radius: 60px ;
}

/*sottotitolo*/

.sottotitolo{
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgb(61, 153, 145);
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-weight:normal;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media(max-width: 550px){
  .sottotitolo{
    font-size: 0.6rem;
  }
}

/*section*/

section{
    background-color: #ebc3b9;
    border-radius: 60px;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

@media(max-width: 1050px){
  section{
    width:95vw;
  }
}

.paragrafo{
    background-color:#363434;
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: #363434 1px solid;
}

@media(max-width: 1050px){
    section .paragrafo{
      display: flex;
      width: 90vw;
      flex-direction: column;
      align-items: center;
      margin: auto;
      margin-top: 30px;
    margin-bottom: 30px;
    }
  }

.foto{
    width: 45vw;
}

@media(max-width: 1050px){
  .foto{
    width: 60vw;
  }
}
  
img {
    width: 100%;
    border-radius: 60px;
}  

@media(max-width: 1050px){
  img{
    width: 100%;
  }
}

.scritte{
    width: 40vw;
    display: flex;
    margin-right: 10px;
    margin-left: 10px ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width: 1050px){
  .scritte{
    width: 90%;
  }
}

.testo{
    margin-top: 15px;
    font-size: 0.7rem;
    color: white;
    text-align: center;
    margin-bottom: -15px;
    font-style: italic;
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
}

@media(max-width: 1050px){
  .testo{
    font-size: 0.8rem;
  }
}

@media(max-width: 550px){
  .testo{
    font-size: 0.6rem;
  }
}

a.categoria{
    
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgb(51, 154, 180);
    letter-spacing: 2px;
    font-family: 'Della Respira', serif;
}

@media(max-width: 1050px){
  a.categoria{
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
}

@media(max-width: 1050px){
  a.categoria{
    font-size: 0.6rem;
  }
}

a.categoria:hover{
  color:rgba(51, 154, 180, 0.6);
  cursor: pointer;
}

/*footer*/

footer{
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    letter-spacing: 1px;
    color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    background-color: black;
    height: 20vh;
    width: 100vw;
    font-size: 0.4rem;
    justify-content: space-around;
}

footer a{
  text-transform:uppercase;
  font-size: 0.6rem;
  font-style: normal;
  margin-right: 30px;
}

footer a:hover{
  text-decoration: underline;  
  cursor: pointer;
}

@media(max-width: 850px){
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
      font-size: 0.25rem;
  }
}


